go 1.26.5

use (
	.
	./adapters/log
	./examples
	./examples/distributed
	./observers/otlp
	./observers/postgres
	./observers/prometheus
	./observers/stdlog
	./observers/tee
	./observers/test
	./record
)

// --- release.sh: intra-repo replaces (regenerated) ---
replace github.com/imakiri/witness/adapters/log v0.3.0 => ./adapters/log
replace github.com/imakiri/witness/observers/otlp v0.1.0 => ./observers/otlp
replace github.com/imakiri/witness/observers/postgres v0.1.0 => ./observers/postgres
replace github.com/imakiri/witness/observers/prometheus v0.1.0 => ./observers/prometheus
replace github.com/imakiri/witness/observers/stdlog v0.21.0 => ./observers/stdlog
replace github.com/imakiri/witness/observers/tee v0.4.0 => ./observers/tee
replace github.com/imakiri/witness/observers/test v0.2.0 => ./observers/test
replace github.com/imakiri/witness/record v0.18.0 => ./record
replace github.com/imakiri/witness v0.27.0 => .
// --- end release.sh ---
